.css-1 {
  background-color: #fff;
  color: #2B3445;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 16px rgb(43 52 69 / 10%);
 }
.css-img {
  width: 140px;
  height: 140px;
}
.css-remove {
  cursor: pointer;
  overflow: visible;
  padding: 5px;
  font-size: 1.125rem;
  position: absolute;
  right: 15px;
  top: 15px;
}

.css-info {
  display: flex;
  padding: 16px;
  padding-left: 14px;
  row-gap: 16px;
  width: 100%;
  flex-direction: column;
}
.css-info-price {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}
.css-qty {
  line-height: 1.5;
  color: #7D879C;
}
.css-item-qty {
  line-height: 1.5;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 600;
  font-size: 15px;
}
.css-price {
  line-height: 1.5;
  font-weight: 600;
  color: #D23F57;
}
.css-total {
  display: flex;
  align-items: center;
}

.removeCart{
  color: #000000;
}
.incCart{
  border: 1px solid rgba(210, 63, 87, 0.5);
  color: #D23F57;
}
.incCart, .desCart{
  display: inline-flex;
  user-select: none;
  font-size: 0.875rem;
  line-height: 1.75;
  border-radius: 4px;
  padding: 5px;
}
.desCart {
  color: rgba(148, 146, 57);
  border: 1px solid rgba(240, 178, 21, 0.5);
}

.css-h-a{
  padding-right: 17px;
}

.cart-items .cart-details {
  flex-basis: 66.666667%;
  flex-grow: 0;
  max-width: 66.666667%;
  padding-left: 24px;
  padding-top: 24px;
}
.cart-total {
  flex-basis: 33.333333%;
  flex-grow: 0;
  max-width: 33.333333%;
  padding-left: 24px;
  padding-top: 24px;
}
.css-back {
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(3 0 71 / 9%);
  overflow: hidden;
  border-radius: 8px;
  padding: 24px;
}
.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.css-hr {
  border-style: solid;
  border-color: #F3F5F9;
  margin-bottom: 16px;
}
.css-h-total {
  color: #7D879C;
}
.css-h-total-price {
  font-size: 18px;
  font-weight: 600;
}
.css-h2 {
  font-weight: 600;
  margin-bottom: 16px;
  display: flex;
}
@media screen and (max-width: 959px) {
  .cart-items .cart-details , .cart-items .cart-total{
    max-width: 100%;
  }
}
