.contact {
    font-family: "Raleway", sans-serif;
    padding: 1rem;
}
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content {
    flex: 1 1 30rem;
    padding: 3rem;
    padding-bottom: 0;
}
.row form {
    flex: 1 1 45rem;
    padding: 1.5rem 2rem;
    margin: 1.5rem 2rem;
    padding-bottom: 4rem;
}
.c-box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: #3333;
    font-size: 1.7rem;
    width: 100%;
}
.c-box::placeholder {
    text-transform: capitalize;
}
.messege {
    height: 12rem;
    resize: none;
}
.title {
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 1rem;
}
.info h3 {
    text-transform: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0.7rem 0;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.info i {
    padding-right: 1rem;
}
.c-btn{
    padding: 0.5rem 1rem;
    background-color: #3333;
    border-radius: 0.7rem;
}
.c-btn:hover{
    background-color: grey;
}

