.head {
  background-color: #0f3460;
  padding: 10px 0;
  color: #fff;
}
.head i {
  margin-right: 10px;
}
.head label {
  margin-right: 30px;
  font-size: 13px;
}
.search {
  padding: 20px 0;
}
.search .icon {
  height: 44px;
}
.search-box {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  flex: 1 1 0;
}
.search-box i {
  width: 5%;
  opacity: 0.5;
  padding: 12px 20px;
}
.search-box input {
  width: 100%;
  padding: 10px;
}
.search-box span {
  background-color: #e94560;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #fff;
  text-align: center;
  display: inline-flex;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #ffffff;
  line-height: 3.1;

}
.search-box span:hover {
  cursor: pointer;
  background-color: #ff0329;
  box-shadow: 0 0 28px rgb(3 0 71 / 1%);
}
.cart {
  position: relative;
  margin-left: 15px;
}
.cart span {
  position: absolute;
  top: -10px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #e94560;
  font-size: 12px;
  color: #fff;
}
header {
  background-color: #fff;
  box-shadow: 0 7px 10px rgb(43 52 69 / 4%);
}
.header .navlink {
  height: 40px;
  margin-top: 15px;
}
header ul li {
  margin-left: 30px;
  cursor: alias;
}
header ul li a {
  transition: 0.5s;
  font-size: 15px;
  font-weight: 400;
}
header ul li a:hover {
  color: #ff014f;
}
header ul li:hover {
  color: #ff014f;
  cursor: pointer;
}
.search.active {
  height: 12vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
}
.s-head .logo {
  display: none;
}
.toggle {
  width: 44px;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.54);
  border: 1px solid rgb(218, 225, 231);
  z-index: 1000;
}
.search .cartsy-menu-drawer {
  background-color: white;
  height: 100%;
  right: 0;
  padding: 60px 20px 60px 60px;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition: .35s ease-in-out;
  width: 60%;
  z-index: 1000;
}
.cartsy-menu-drawer.open {
  transform: translateX(0%);
  visibility: visible;
 }
.search .navlink {
  display: none;
}

@media screen and (max-width: 959px) {
  .s-head .logo {
    display: inline-flex;
  }
  .s-head .left {
    height: 40px;
  }
  .s-head .logo img {
    height: 40px;
    width: auto;
  }
  .s-head .left i, .s-head .h-info, .search .logo, .search .cart, .search .user {
    display: none;
  }
  .head {
    padding: 0;
    height: 40px;
  }
  header {
    display: none;
  }
  header ul {
    padding-top: 30px;
  }
  .header.active {
    height: 10vh;
  }
  .close,
  .open {
    display: block;
    font-size: 25px;
    z-index: 1010;
    position: relative;
  }
  .close {
    color: #ff014f;
  }
  .search .navlink {
    margin-top: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    margin-left: 20px;
    height: 50px;
  }
  .nav-links-MobileMenu {
    transform: translateX(0);
    visibility: visible;
  }  
  .search .navlink ul li {
    width: 100%;
    transition: all 1.5s ease-in-out;
    text-transform: uppercase;
    }
  
  .search .navlink ul li a {
    transition: 0.5s;
    font-size: 15px;
    font-weight: 400;
    line-height: 45px;
  }
}
